header {
    border-radius: 3em;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px #f1f0f05c;
    display: flex;
    justify-content: space-between;
    padding: 1.5vw;
    position: fixed;
    top: 2%;
    left: 50%; /* Startpunkt horizontal bei der Mitte */
    transform: translateX(-50%); /* Verschiebung um die Hälfte der Breite nach links */
    z-index: 2;
    width: 80vw;
}

#PaulBot {
    font-size: 1.75vw;
    transition: 0.5s;
}

nav {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 3.5em;
    font-size: 1.25vw;
    transition: 0.5s;
}

#PaulBot:hover {
    color: #ff0073;
    font-weight: 600;
    font-size: 2.5vw;
    transition: 0.5s;
}

nav a:hover {
    color: #ff0073;
    font-weight: 600;
    font-size: 1.75vw;
    transition: 0.5s;
}

/*RESPONSIVNESS*/

@media (max-width: 1200px) {

    #top {
        scroll-margin-top: 100vw;
    }

    nav a {
        font-size: 2.25vw;
    }

    #PaulBot {
        font-size: 2.75vw;
    }

}
